<div>
<p> 
	Make sure you have <a target="_blank" href="https://nodejs.org/en/"> Node.js </a> installed.
</p>

<p> Install bower: <code> npm install -g bower </code></p>
<p> Install gulp: <code> npm install -g gulp </code></p>
<p> Navigate to root directory and install all node dependencies: <code>npm install</code> </p>
<p> Might take a couple of tries depending on the Node.js version used. </p>
<p> Navigate to root directory and install all bower dependencies: <code>bower install</code> </p>
<p> Run <code> npm start </code> to start a lite node server on port 80 and to compile source files in development mode. Any changes you do to the code will trigger a re-compilation. </p>


<p> Run <code>gulp publish</code> to compile a production build with minification and obfuscation. </p>
</div>