<div>
<p> 
	Make sure you have <a target="_blank" href="https://nodejs.org/en/"> Node.js </a> installed on your server.
</p>

<p> Install bower: <code> npm install -g bower </code></p>
<p> Install gulp: <code> npm install -g gulp </code></p>
<p> Navigate to root directory and install all node dependencies: <code>npm install</code></p>
<p> Navigate to root directory and install all bower dependencies: <code>bower install</code></p>
<p> Run gulp to compile in development mode <code>gulp</code> Any changes you do will trigger a re-compilation</p>
<p> Configure your server to point to the build/debug/ directory of your application to gain access to the compiled files</p>
<p> Resources such as images, css, js and vendor libraries are collected into a public directory, you must also point your server's "/public/" endpoint to that directory</p>
<p> Run <code>gulp publish</code> to compile a production build with minification and obfuscation</p>
</div>