<md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z1 home-sidenav" 
					md-component-id="mainLeftNav" 
					md-is-locked-open="$mdMedia('gt-md')">
					
  <md-button class="no-hover-bg" style="line-height:0" data-md-no-ink 
  href="https://github.com/rightfit/rightfit-angular-template"><img  src="/public/img/rightfit-logo.png" class="logo"> </md-button>
  <md-divider ></md-divider>
  <md-content  flex>
      
    <md-list> 
    	<md-list-item ng-repeat="menu in navCtrl.options.menu">
    		<md-button  href="" ui-sref-active="md-primary"  ui-sref="{{::menu.state}}"> {{ ::menu.name }} </md-button>
    	</md-list-view>
    </md-list>    
  </md-content>
</md-sidenav>